@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 14px;}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/bg-pattern.jpg');
}
li{
    list-style: none;
}
h1{
    font-size: 40px;
    font-weight: 700;
}
h2{
    font-size: 32px;
    font-weight: 600;
}
h3{
    font-size: 28px;
    font-weight: 600;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: currentColor;
    font-weight: 500;
}



/* My Styling */
/* Header and Nav Styling */
header{
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #000;

}
header .logo-ctn{
    display: inline-block;
    max-width: 40%;
}
header .logo{
    max-height: 2rem;
}
nav{
    padding: 1rem;
    background-color: #fff;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: inline-block;
    transition: all 0.4s;
    text-transform: uppercase;
}
nav ul li a::after{
    content: '';
    margin: 0px auto;
    display: block;
    width: 0px;
    height: 2px;
    background-color: #000;
    transition: all 0.4s;
}
header a:hover{
    color: #3e9f8e;
}
nav ul li a:hover{
    color: #3e9f8e;
}
nav ul li a:hover::after{
    width: 100%;
    background-color: #3e9f8e;
}
header+nav ul{
    display: flex;
    margin: 0px auto;
    max-width: 1440px;
    justify-content: space-around;
}
.sc-icons{
    display: flex;
    justify-content: space-around;
    max-width: 30%;
    width: 100%;
}
.sc-icons img{
    max-height: 2rem;
}
.sc-icons form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.sc-icons form img{
    width: auto;
}
input#search-bar{
    border: none;
    border-bottom: 1px solid #000;
    padding: 0.5rem;
    margin: 0px 1rem;
}
input#search-bar:focus{
    outline: none;
}
.sc-icons form button[type="submit"], .search-btn{
    background-color: #fff;
    border: none;
    padding: 0px;
    margin: 0px;
}
.sc-sec{
    display: flex;
    justify-content: space-around;
}
.sc-sec .sc-icons{
    max-width: 100%;
    width: 100%;
    padding-top: 1.5rem;
}

/* Main content Styling */
/* general */
section{
    margin-bottom: 5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: #fff;
    color: #000;
    transition: all 0.4s;
}
.btn:hover{
    background-color: #00102e;
    color: #fff;
}
.btn-sec{
    background-color: #00000000;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
}
.btn-sec:hover{
    color: #00102e;
    background-color: #fff;
}
.ctn-mx{
    max-width: 1440px;
    width: 100%;
    margin: 0px auto;
    background-color: #fff;
}
.sm-only{
    display: none;
}



/* Main */
.promo{
    min-height: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5rem;
    color: #fff;
    background-image: url('../img/banner.jpg');
    background-color: rgba(0, 0, 0, 0.40);
    background-size: 120%;
    background-position: right 90%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}
.banner{
    display: inline-block;
    margin-right: 8%;
    max-width: 400px;
    width: 100%;
}
.hero-txt h1, .hero-txt p{
    margin: 1rem 0rem;
}
.col-3{
    
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.col .description{
    padding-right: 20%;
}
.col h2{
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    padding: 1rem 0rem;
}
.col{
    padding: 3em;
    color: #fff;
    max-width: 100%;
    min-height: 500px;
    height: 100%;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000060;
    background-blend-mode: darken;
}
.col1{
    flex: 1;
    background-image: url('../img/col1.jpg');
}
.col2{
    flex: 1;
    background-image: url('../img/col2.jpg');
}
.col3{
    flex: 1;
    background-image: url('../img/col3.jpg');
}
.fl-com{
    display: flex;
    gap: 1rem;
    padding-bottom: 1em;
}
.obj-com{
    width: 100%;
    position: relative;
    display: block;
    color: white;
}
.obj-com picture{
    display: block;
    overflow: hidden;
    height: 100%;
}
.obj-com picture img{    
    transition: all 0.4s;
}
.obj-com:hover picture img{
    transform: scale(1.1);
}
.obj1{
    display: flex;
    place-items: center;
    width: 50%;
    background-color: #D0AD91;
}
.obj2{
    width: 50%;
}
.objextra{
    display: none;
}
.abs{    
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.abs+img{
    width: 100%;
    height: 100%;
}
.abs h5{
    margin-bottom: 1rem;
}
.txt-only{
    padding: 4rem;
    max-width: 70%;
}
.txt-only h2{
    margin: 1rem 0rem;
}

/* Footer Styling */
footer{
    margin-top: 5rem;
    background-color: #fff;
    padding: 2rem;
}
footer .logo-ctn{
    max-width: 100px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ftex ul{
    display: flex;
    gap: 2rem;
    justify-content: right;
    padding: 1rem;
}
.ftex ul li{
    display: contents;
}
.icon{
    width: auto;
    max-height: 24px;
}
.flex-ft{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex-ft ul li{
    display: block;
}
.flex-ft h5{
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.flex-ft ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* */
.toggle-nav{
    background: none;
    border: none;
}
.icon-bar{
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #000;
}

.tb-only{
    display: none;
}
/* Responsive Styling */

@media screen and (max-width: 1024px) {
    .col{
        min-height: 400px;
        padding: 2em;
    }
    .col3{
        background-position: center;
    }
    .tb-no{
        display: none;
    }
    .tb-only{
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .tb-only{
        display: none;
    }
    /* Header and nav */
    header{
        justify-content: space-between;
        padding: 1rem;
    }
    header .toggle-nav img, .icon-shrt{
        max-height: 27px;
    }
    header .logo-ctn{
        max-width: 60%;
    }
    nav{
        z-index: 100;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all 0.5s;
        overflow: scroll;
    }
    nav ul img{
        width: auto;
    }
    nav.open{
        left: 0;
    }
    
    header+nav ul{
        flex-direction: column;
        text-align: left;
        gap: 1.5rem;
    }
    nav form{
        display: flex;
        flex-direction: row;
        justify-content: left;
        border: 1px solid #000;
        padding: 0.5rem;
    }
    nav form input#search-bar{
        width: 100%;
        border-bottom: none;
        margin: 0px;
        padding: 0px;
    }
    nav ul li img{
        max-height: 24px;
    }

    .icon-grp{
        display: flex;
        place-items: center;
        gap: 1rem;
    }
    .icon-grp::after{
        display: none;
    }
    nav ul li span a{
        text-transform: capitalize;
    }

    .promo{
        padding: 2rem;
        background-size: cover;
        background-position: 35% ;
    }
    .col2 h2{
        letter-spacing: 0rem;
    }
    .objextra{
        display: block;
    }
    .obj2{
        display: none;
    }
    .obj1{
        width: 100%;
    }
    .txt-only{
        padding: 5rem 1.2rem;
        max-width: 90%;
    }
    .fl-com.sec{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .abs{
        left: 10px;
    }
    .sm-only{
        display: inline-block;
    }
    a.sm-only{
        padding: 0.8rem;
    }
    .sm-no{
        display: none;
    }
    .footer{
        grid-template-columns: 100%;
        gap: 2rem;
        margin-top: 1rem;
    }
    .flex-ft{
        flex-direction: column;
        gap: 2rem;
    }
}
@media (aspect-ratio: 540/720) {
    .promo{
        padding: 2rem;
        background-size: cover;
        background-position: 35% ;
    }
    .objextra{
        display: block;
    }
    .obj2{
        display: none;
    }
    .obj1{
        width: 100%;
    }
    .txt-only{
        padding: 5rem 1.2rem;
        max-width: 90%;
    }
    .fl-com.sec{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


.intro-animation {
    opacity: 0;
    transform: translateY(50px);
    animation: fade-in-up 1s ease-out forwards;
    animation-play-state: paused;
    
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .intro-animation.show {
    animation-play-state: running;
  }